<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jian.core.server.dao.UserDynamicDao">
	
	<resultMap type="com.jian.core.model.bean.Dynamic" id="jiankeji">
		<id column="sid" property="dynamicId" jdbcType="INTEGER"/>
		<result column="userdmc_u_id" property="userId" jdbcType="INTEGER"/>
		<result column="userdmc_content" property="content" jdbcType="VARCHAR"/>
		<result column="u_name" property="name" jdbcType="VARCHAR"/>
		<result column="u_photo" property="photo" jdbcType="VARCHAR"/>
		<result column="userdmc_likenum" property="likenum" jdbcType="INTEGER"/>
		<result column="userdmc_browse" property="browse" jdbcType="INTEGER"/>
		<result column="userdmc_createTime" property="createTime" jdbcType="BIGINT"/>
	</resultMap>
	
	<resultMap type="com.jian.core.model.bean.Comment" id="jiankeji2">
		<id column="sid" property="commentId" jdbcType="INTEGER"/>
		<result column="cmt_userdmc_id" property="dynamicId" jdbcType="INTEGER"/>
		<result column="cmt_u_id" property="toUserId" jdbcType="INTEGER"/>
		<result column="cmt_likenum" property="likeNum" jdbcType="INTEGER"/>
		<result column="cmtUserName" property="toUserName" jdbcType="VARCHAR"/>
		<result column="cmtUserPhoto" property="toUserPhoto" jdbcType="VARCHAR"/>
		<result column="cmt_u_ids" property="fromUserId" jdbcType="INTEGER"/>
		<result column="cmtUserNames" property="fromUserName" jdbcType="VARCHAR"/>
		<result column="cmtUserPhotos" property="fromUserPhoto" jdbcType="VARCHAR"/>
		<result column="cmt_content" property="commentContent" jdbcType="VARCHAR"/>
		<result column="cmt_time" property="commentTime" jdbcType="BIGINT"/>
	</resultMap>
	
	<resultMap type="com.jian.core.model.bean.Reply" id="jiankeji3">
		<id column="sid" property="replyId" jdbcType="INTEGER"/>
		<result column="reply_cmt_id" property="commentId" jdbcType="INTEGER"/>
		<result column="reply_u_id" property="toUserId" jdbcType="INTEGER"/>
		<result column="replyUserName" property="toUserName" jdbcType="VARCHAR"/>
		<result column="replyUserPhoto" property="toUserPhoto" jdbcType="VARCHAR"/>
		<result column="reply_u_ids" property="fromUserId" jdbcType="INTEGER"/>
		<result column="replyUserNames" property="fromUserName" jdbcType="VARCHAR"/>
		<result column="replyUserPhotos" property="fromUserPhoto" jdbcType="VARCHAR"/>
		<result column="reply_content" property="replyContent" jdbcType="VARCHAR"/>
		<result column="reply_time" property="replyTime" jdbcType="BIGINT"/>
	</resultMap>
	
	<resultMap type="com.jian.core.model.bean.Img" id="jiankeji4">
		<id column="sid" property="imgId" jdbcType="INTEGER"/>
		<result column="userdmcimg_userdmc_id" property="dynamicId" jdbcType="INTEGER"/>
		<result column="userdmcimg_photo" property="photo" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="addDynamic" parameterType="com.jian.core.model.bean.Dynamic" useGeneratedKeys="true" keyProperty="dynamicId">
		insert into userdynamic
		(userdmc_u_id,userdmc_content,userdmc_likenum,userdmc_browse,userdmc_createTime)
		values
		(#{userId},#{content},#{likenum},#{browse},#{createTime})
	</insert>
	<insert id="addDynamicImg" parameterType="com.jian.core.model.bean.Img" useGeneratedKeys="true" keyProperty="imgId">
		insert into userdynamicimg
		(userdmcimg_userdmc_id,userdmcimg_photo)
		values
		(#{dynamicId},#{photo})
	</insert>
	
	<select id="selectLikeStatus" resultType="java.lang.Integer">
		select like_status 
		from likenum
		where like_u_id=#{userId}
		AND like_userdmc_id = #{dynamicId}
	</select>
	
	<insert id="addUserLike">
		insert into likenum
		(like_u_id,like_userdmc_id,like_status)
		values
		(#{userId},#{dynamicId},1)
	</insert>
	
	<update id="updateLikeStatus">
		update likenum
		set like_status = #{status}
		where like_u_id=#{userId}
		AND like_userdmc_id = #{dynamicId}
	</update>
	
	<update id="updateLikeNum">
		update userdynamic
		set userdmc_likenum = userdmc_likenum + #{number}
		where sid = #{dynamicId}
	</update>
	
	<select id="selectLikeNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select userdmc_likenum
		from userdynamic
		where sid = #{dynamicId}
	</select>


	<select id="showDynamic" resultMap="jiankeji">
		select umc.sid,umc.userdmc_u_id,umc.userdmc_content,umc.userdmc_likenum,umc.userdmc_browse,umc.userdmc_createTime,u.u_photo,u.u_name
		from userdynamic umc,user u
		where umc.userdmc_u_id=u.sid
		order by umc.userdmc_createTime DESC
	</select>

	<select id="showDynamicByUserId" resultMap="jiankeji" parameterType="java.lang.Integer">
		select umc.sid,umc.userdmc_u_id,umc.userdmc_content,umc.userdmc_likenum,umc.userdmc_browse,umc.userdmc_createTime,u.u_photo,u.u_name
		from userdynamic umc,user u
		where umc.userdmc_u_id=u.sid
		AND u.sid=#{userId}
		order by umc.userdmc_createTime DESC
	</select>
	
	<select id="selectCommentbyDMC" resultMap="jiankeji2" parameterType="java.lang.Integer">
		select c.sid,c.cmt_userdmc_id,c.cmt_u_id,c.cmt_u_ids,c.cmt_content,c.cmt_time,c.cmt_likenum,
			u1.u_name cmtUserName,u1.u_photo cmtUserPhoto,u2.u_name cmtUserNames,u2.u_photo cmtUserPhotos
		from comment c,user u1,user u2
		where c.cmt_u_id = u1.sid
		AND c.cmt_u_ids = u2.sid
		AND c.cmt_userdmc_id = #{dynamicId}
	</select>
	
	<select id="selectReplyByCMT" resultMap="jiankeji3" parameterType="java.lang.Integer">
		select r.sid,r.reply_cmt_id,r.reply_u_id,r.reply_u_ids,r.reply_content,r.reply_time,
			u1.u_name replyUserName,u1.u_photo replyUserPhoto,u2.u_name replyUserNames,u2.u_photo replyUserPhotos
		from reply r,user u1,user u2
		where r.reply_u_id= u1.sid
		AND r.reply_u_ids= u2.sid
		AND r.reply_cmt_id = #{commentId}
	</select>
	<select id="selectDMCIMGByDMC" resultMap="jiankeji4" parameterType="java.lang.Integer">
		select sid,userdmcimg_userdmc_id,userdmcimg_photo
		from userdynamicimg
		where userdmcimg_userdmc_id = #{dynamicId}
	</select>
	
	<insert id="comment" parameterType="com.jian.core.model.bean.Comment" keyProperty="commentId" useGeneratedKeys="true">
		insert into comment
		(cmt_userdmc_id,cmt_u_id,cmt_u_ids,cmt_content,cmt_time,cmt_likenum)
		values
		(#{dynamicId},#{toUserId},#{fromUserId},#{commentContent},#{commentTime},#{likenum})
	</insert>
	
	<insert id="reply" parameterType="com.jian.core.model.bean.Reply" keyProperty="replyId" useGeneratedKeys="true">
		insert into reply 
		(reply_cmt_id,reply_u_id,reply_u_ids,reply_content,reply_time)
		values
		(#{commentId},#{toUserId},#{fromUserId},#{replyContent},#{replyTime})
	</insert>
	
	<select id="selectReplyById" resultType="java.lang.Integer">
		select sid
		from reply
		where sid=#{replyId}
		AND reply_u_id=#{userId}
		union all
		select sid
		from reply
		where sid=#{replyId}
		AND reply_u_ids=#{userId}
	</select>
	<delete id="deleteReply" parameterType="java.lang.Integer">
		delete from reply
		where sid=#{replyId}
	</delete>
	
	<select id="selectCommentById" resultType="java.lang.Integer">
		select sid
		from comment
		where sid=#{commentId}
		AND cmt_u_id=#{userId}
		union all
		select sid
		from comment
		where sid=#{commentId}
		AND cmt_u_ids=#{userId}
	</select>
	<delete id="deleteComment" parameterType="java.lang.Integer">
		delete from comment
		where sid=#{commentId}
	</delete>
	
	<select id="selectDynamicById" resultType="java.lang.Integer">
		select sid
		from userdynamic
		where sid=#{dynamicId}
		AND userdmc_u_id=#{userId}
	</select>
	
	<delete id="deleteDynamicById"  parameterType="java.lang.Integer">
		delete from userdynamic
		where sid=#{dynamicId}
	</delete>
	<delete id="deleteImgById" parameterType="java.lang.Integer">
		delete from userdynamicimg
		where sid = #{imgId}
	</delete>
	<update id="browse" parameterType="java.lang.Integer">
		update userdynamic
		set userdmc_browse = userdmc_browse+1
		where sid = #{dynamicId}
	</update>

	<select id="getCommentLikeStatus" resultType="java.lang.Integer">
		select like_status
		from d_comment_like
		where like_u_id=#{userId}
	  	AND  like_cmt_id=#{commentId}
	</select>

	<insert id="saveCommentLike">
		insert into d_comment_like
		(like_cmt_id,like_status,like_u_id)
		values
		(#{commentId},#{status},#{userId})
	</insert>

	<update id="updateCommentLike">
		update
			d_comment_like
		set
			like_status=#{status}
		where
			like_cmt_id=#{commentId}
		and
			like_u_id=#{userId}
	</update>
	<update id="updateCommentLikenum">
		update comment
		set cmt_likenum=cmt_likenum+#{likenum}
		where sid=#{commentId}
	</update>
	<select id="getDynamicIdByCommentId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select cmt_userdmc_id
		from  comment
		where  sid=#{commentId}
	</select>
</mapper>








